@use "shared";

// Product Inputs Panal
#total {
  @include shared.transition-smooth;
  font-size: 1.1rem;
  height: calc(2.25rem + 2px);
  box-sizing: border-box;

  // Green background when caculation is successful via JS
  &.bg-success {
    background-color: shared.$success-color !important;
  }

  // Default red background when inputs are empty
  &.bg-danger {
    background-color: shared.$danger-color !important;
  }
}

// // Flex
// display: flex;
// align-items: center;
// justify-content: center;

// // Placeholders
// .form-control {
//   &:focus {
//     box-shadow: 0 0 0 0.25rem rgba(shared.$primary-color, 0.25);
//   }

//   &::placeholder {
//     color: #6c757d;
//     opacity: 0.85;
//   }
// }
